
* {
    font-family: "Georgia", 'Lato', sans-serif;
}

.screen-container {
    width: 1080px;
    height: 640px;
    margin: 20px 20px;
    position: relative;
    background-color: #00b300;
}

.start-menu {
    width: 500px;
    height: 200px;
    margin: 10% 21% 0;
    text-align: center;
    background-color: #00b300;
    position: absolute;
}

.logo {
    height: 350px;
    width: auto;
}

.play-btn {
    font-size: 20px;
    width: 300px;
    margin-top: 10px;
    margin-left: 160px;
    padding: 10px 20px;
}

.reset-btn {
    font-size: 20px;
    width: 200px;
    margin-left: 10px;
    padding: 10px 20px;
}

.main-btn {
    color: white;
    background-color: #1E90FF;
    border: 2px solid #1E90FF;
    border-radius: 14px;
    transition-duration: 0.4s;
    text-align: center;
}

.btn:hover {
    background-color: #0073e6;
    border: 2px solid #0073e6;
}

#game-canvas {
    position: absolute;
}

#statement {
  font-size: 20px;
  font-weight: bold;
}

#end-screen {
    width: 350px;
    height: 200px;
    top: 220px;
    left: 365px;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #E8E9EB;
    display: block;
    text-align: center;
    padding-top: 20px;
}

#turn-screen {
    width: 600px;
    height: 200px;
    top: 5px;
    left: 235px;
    position: absolute;
    z-index: 1;
    color: white;
    display: block;
    text-align: center;
    padding-top: 16px;
}

#turn-statement {
  padding-top: 12px;
}

.right-arrow {
  float: left;
  width: 50px;
  height: auto;
}

.left-arrow {
  float: right;
  width: 50px;
  height: auto;
}

.playerHUD {
    position: absolute;
    z-index: 1;
}

.player {
  border-radius: 5px;
  border: 1px solid black;
  display: block;
  position: absolute;
  width: 220px;
  height: 60px;
  top: 15px;
  text-align: center;
}

.player ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.player ul li {
  float: left;
  margin: 0 3px;
  width: 25px;
  height: 25px;
  text-align: center;
  display: block;
  border-radius: 20px;
  padding-top: 1px;
}

.player1 {
  background-color: #66ccff;
  border-color: #737373;
  left: 15px;
}

.player2 {
  background-color: #ff4d4d;
  border-color: #737373;
  left: 845px;
}

.player h6 {
  margin: 0;
  padding: 0;
  margin-top: 2px;
  margin-left: 3px;
  margin-bottom: 4px;
  color: white;
  font-size: 20px;
  text-shadow: -1px -1px 0 #3d3d3d,
                1px -1px 0 #3d3d3d,
               -1px  1px 0 #3d3d3d,
                1px  1px 0 #3d3d3d;
}

.player.active {
  background-color: #84e184;
  border-color: #84e184
}

.player ul li.pocketed {
  opacity: 0.1
}

.player.solid span:before {
  content: ' - Solid';
  font-size: 15px;
}

.player.striped span:before {
  content: '- Striped';
  font-size: 15px;
}

.player ul li::after {
  display: block;
  background-color: white;
  width: 17px;
  height: 17px;
  border-radius: 12px;
  margin-top: -17px;
  content: '';
  margin-left: 4px;
  z-index: 10;
}

.player ul li {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.player.unknown ul li {
  background-color: #3d3d3d;
}

#scratch-statement {
  font-size: 15px;
  color: red;
}